@import 'Styles/variables.css';


.container {
  display: flex;
  height: 44px;
  min-width: 270px;

  box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, .25);
  border:none;
}

.searchInput {
  width: 100%;
  padding: 0px 0px 0px 10px;
  border: 0px;
  font-size: 1.8rem;
}

.searchButton {
  width: 50px;
  border: 0px;

  background-color: $white;
}
.searchButton:active {
  box-shadow: inset 1px 0px 10px 0px rgba(0,0,0,0.75);
}
