@import 'Styles/variables.css';


.container {
  grid-column: 1/-1;
  padding-top: 20px;
  padding-bottom: 44px;

  display: grid;
  grid-template-columns: auto minmax(auto, 60px) 15px minmax(10px,60px) minmax(auto, 60px) minmax(auto, 300px) minmax(10px, 60px) auto;
  grid-template-rows: 25px 44px 7px 44px auto auto;
}

.column {
  grid-column: 3/4;
  grid-row: 1/6;
  align-self: flex-start;
  z-index: 99;

  writing-mode: vertical-rl;
  writing-mode: sideways-lr;
  font-size: 1.2rem;
  line-height: 15px;
  font-weight: bold;
  font-style: italic;
}

.searchBar {
  grid-column: 5/7;
  grid-row: 2/3;
}

.hLine {
  grid-column: 2/8;
  grid-row: 3/4;
  height: 7px;
  background-color: $redish;

  border: none;
}


.searchResults {
  grid-column: 6/9;
  grid-row: 5/-1;
  width: 600px;
}


@media only screen and (max-width: 767px) {
  .searchResults {
    grid-column: 5/7;
    width: unset;
    max-width: 600px;
  }
}
