/* @font-face {
  font-family:"proxima-nova-regular";
  src: url("Fonts/proxima-nova--regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family:"proxima-nova-semibold";
  src: url("Fonts/proxima-nova--semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family:"proxima-nova-bold";
  src: url("Fonts/proxima-nova--bold.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family:"adelle-sans-regular";
  src: url("Fonts/adelle-sans--regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family:"adelle-sans-bold";
  src: url("Fonts/adelle-sans--bold.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}


@mixin font-optimizing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@mixin proxima-regular {
  @include font-optimizing;
  font-family: "proxima-nova-regular";
}

@mixin proxima-semi-bold {
  @include font-optimizing;
  font-family: "proxima-nova-semibold";
}

@mixin proxima-bold {
  @include font-optimizing;
  font-family: "proxima-nova-bold";
}

@mixin adelle-sans-regular {
  @include font-optimizing;
  font-family: "adelle-sans-regular";
}

@mixin adelle-sans-bold {
  @include font-optimizing;
  font-family: "adelle-sans-bold";
} */
