*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* defines 1rem */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #ececec4d;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

button {
  border: 0;
}

a {
  text-decoration: none;
}

button, a {
  cursor: pointer;
}

#root-entry {
  height: 100%;

  display: grid;
  grid-template-columns: minmax(320px, 1024px);
  justify-content: center;
}
