/* @import '~Styles/fonts'; */


/* h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

h1 {
  font-size: 4.8rem;
  line-height: 1.68rem;
}
h2 {
  font-size: 3.6rem;
  line-height: 2rem;
}
h3 {
  font-size: 2.8rem;
  line-height: 1.68rem;
}
h4 {
  font-size: 1.8rem;
  line-height: 1.95rem;
}

p {
  font-size: 1.6rem;
  color: #000000;
} */

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1.3rem;
}

span {
  font-size: 1.4rem;
}
