@import 'Styles/variables.css';


.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header"
    "hzLine"
    "body";
}
.container:not(:last-child) {
  margin-bottom: 20px;
}

.header {
  grid-area: header;
  padding: 10px 10px 0 0;
}

.titleLink {
  color: $black;
  font-weight: bolder;
}
.titleLink:visited {
  color: $visitedRed;
}

.body {
  grid-area: body;
  padding: 10px 10px 10px 0;
}

.hzLine {
  grid-area: hzLine;
  height: 1px;
  background-color: grayLine;
  border: none;
}

.description {
  margin-bottom: 10px;
}
.displayLink {
  color: $greeny;
}
